
<div class="sidenav" *ngIf="isLoggedIn()">
  <div class="profile-image-holder">
    <a href="/profile">
    <img src="https://randomuser.me/api/portraits/men/75.jpg" alt="Random Person">
    <div class="overlay">Profile</div>
  </a>
  </div>
  <nav *ngIf="isHr()">
      <a href="/profile" >
        <h3>
              Profile
        </h3>
      </a>
        <mat-divider class="divier-width"></mat-divider>
        <a href="/employees">
          <h3>Employees</h3>
        </a>
        <mat-divider class="divier-width"></mat-divider>

      <a href="/online-attendance">
        <h3>Leave Requests</h3>
      </a>
      <mat-divider class="divier-width"></mat-divider>


      <a href="/tracker">
        <h3>Attendance Tracker</h3>
      </a>
      <mat-divider class="divier-width"></mat-divider>

      <div class="nav-end">
      <a (click)="logout()" href="/login"  >
        <mat-icon >logout</mat-icon>
      </a>
    </div>
  </nav>


  <nav *ngIf="!isHr()">
    <a href="/profile">
      <h3>Profile</h3>
    </a>
    <a href="/request-leave">
      <h3>Request Leave</h3>
    </a>
    <a href="/tracker">
      <mat-icon>calendar_today</mat-icon>
      <h3>Attendance Tracker</h3>
    </a>
    <a href="/online-attendance">
      <h3>Online Attendance</h3>
    </a>

    <div class="nav-end">

    <a href="/login">
      <mat-icon>logout</mat-icon>
    </a>
    </div>
  </nav>
</div>

