
<div class="sidenav" *ngIf="isLoggedIn()">
  <div class="profile-image-holder">
    <a href="/profile">
    <img src="https://randomuser.me/api/portraits/men/75.jpg" alt="Random Person">
    <div class="overlay">Profile</div>
  </a>
  </div>
  <nav *ngIf="isHr()">
      <a href="/profile" >
        <h3>
              Profile
        </h3>
      </a>
        <mat-divider class="divier-width"></mat-divider>
        <a href="/employees">
          <h3>Employees</h3>
        </a>
        <mat-divider class="divier-width"></mat-divider>

      <a href="/online-attendance">
        <h3>Leave Requests</h3>
      </a>
      <mat-divider class="divier-width"></mat-divider>


      <a href="/tracker">
        <h3>Attendance Tracker</h3>
      </a>
      <mat-divider class="divier-width"></mat-divider>

      <div class="nav-end">
      <a (click)="logout()" href="/login"  >
        <mat-icon >logout</mat-icon>
      </a>
    </div>
  </nav>


  <nav *ngIf="!isHr()">

      <mat-divider class="divier-width"></mat-divider>
      <a href="/employees">
        <h3>Pick your thing</h3>
      </a>
      <mat-divider class="divier-width"></mat-divider>

    <a href="/online-attendance">
      <h3>Name your nav</h3>
    </a>
    <mat-divider class="divier-width"></mat-divider>


    <a href="/tracker">
      <h3>idk</h3>
    </a>
    <mat-divider class="divier-width"></mat-divider>

    <div class="nav-end">
    <a (click)="logout()" href="/login"  >
      <mat-icon >logout</mat-icon>
    </a>
  </div>
  </nav>
</div>

