
<div class="sidenav" *ngIf="isLoggedIn()">
  <div class="profile-image-holder">
    <img src="https://randomuser.me/api/portraits/men/75.jpg" alt="Random Person">
  </div>
  <nav *ngIf="isHr()">
      <a href="/profile" >
        <mat-icon>person</mat-icon>
        <h3>
              Profile
        </h3>
      </a>

      <!-- <button mat-button [matMenuTriggerFor]="employeeMenu">
        <mat-icon>manage</mat-icon>
        <h3>Employee Management</h3>
      </button>
      <mat-menu #employeeMenu="matMenu">
        <button mat-menu-item (click)="isHr()">Add Employee</button>
        <button mat-menu-item (click)="isHr()">Show Employees</button>
      </mat-menu> --> 
      <a href="/hr-leave-requests">
        <mat-icon>request_quote</mat-icon>
        <h3>Leave Requests</h3>
      </a>
      <a href="/tracker">
        <mat-icon>calendar_today</mat-icon>
        <h3>Attendance Tracker</h3>
      </a>
      <a (click)="logout()" href="/login">
        <mat-icon>logout</mat-icon>
      </a>

  </nav>


  <nav *ngIf="!isHr()">
    <a href="/profile">
      <mat-icon>person</mat-icon>
      <h3>Profile</h3>
    </a>
    <a href="/request-leave">
      <mat-icon>request_quote</mat-icon>
      <h3>Request Leave</h3>
    </a>
    <a href="/employee-attendance">
      <mat-icon>calendar_today</mat-icon>
      <h3>Attendance Tracker</h3>
    </a>
    <a href="/attendance-form">
      <mat-icon>online_prediction</mat-icon>
      <h3>Online Attendance</h3>
    </a>

    <a href="/login">
      <mat-icon>logout</mat-icon>
    </a>
  </nav>
</div>

