<div class="container">



<div class="login-background">

<!--  -->

<div class="auth-container">
  <!-- Login Form -->
  <div *ngIf="isLogin" class="form-container">
<header >
    <h1 class="roboto-medium">Sign in</h1>
  </header>
    <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
      <div class="form-group">
        <!-- <label for="email">
          <mat-icon>mail</mat-icon> Email:
        </label> -->
        <input type="email" id="email" name="email" [(ngModel)]="loginData.email" required email #email="ngModel" placeholder="Email">
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
          <div *ngIf="email.errors?.['required']" style="color: red; font-size: 0.9rem;">* required.</div>
          <div *ngIf="email.errors?.['email']" style="color: red; font-size: 0.9rem;">Please enter a valid email address.</div>
        </div>
      </div>

      <div class="form-group">
        <!-- <label for="password">
          <mat-icon>lock</mat-icon> Password:
        </label> -->
        <input type="password" id="password" name="password" [(ngModel)]="loginData.password" required #password="ngModel" placeholder="password"/>
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
          <div *ngIf="password.errors?.['required']" style="color: red; font-size: 0.9rem;">* required.</div>
        </div>
      </div>
      <div class="centering">
        <button type="submit"   class="signin-btn">
          <mat-icon>login</mat-icon>
        </button>
      </div>
      <div class="toggle-container">
        <a (click)="toggleForm('register')" href="javascript:void(0)" class="toggle-link">Register?</a>
      </div>
    </form>
  </div>

  <!-- Register Form -->
  <div *ngIf="!isLogin" class="form-container">
    <header>
      <h1 class="roboto-medium">Register</h1>

    </header>
    <form #registerForm="ngForm" (ngSubmit)="onRegister()">
      <div class="form-group">
        <!-- <label for="firstname">
          <mat-icon>person</mat-icon> First Name:
        </label> -->
        <input type="text" id="firstname" name="firstname" [(ngModel)]="registerData.firstname" required #firstname="ngModel" placeholder="First Name"/>
        <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
          <div *ngIf="firstname.errors?.['required']" style="color: red; font-size: 0.9rem;">* required.</div>
        </div>
      </div>

      <div class="form-group">
        <!-- <label for="lastname">
          <mat-icon>person</mat-icon> Last Name:
        </label> -->
        <input type="text" id="lastname" name="lastname" [(ngModel)]="registerData.lastname" required #lastname="ngModel" placeholder="Last Name"/>
        <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
          <div *ngIf="lastname.errors?.['required']" style="color: red; font-size: 0.9rem;">* required.</div>
        </div>
      </div>

      <div class="form-group">
        <!-- <label for="email">
          <mat-icon>mail</mat-icon> Email:
        </label> -->
        <input type="email" id="email" name="email" [(ngModel)]="registerData.email" required email #email="ngModel" placeholder="Email"/>
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
          <div *ngIf="email.errors?.['required']" style="color: red; font-size: 0.9rem;">* required.</div>
          <div *ngIf="email.errors?.['email']">Please enter a valid email address.</div>
        </div>
      </div>

      <div class="form-group">
        <!-- <label for="password">
          <mat-icon>lock</mat-icon> Password:
        </label> -->
        <input type="password" id="password" name="password" [(ngModel)]="registerData.password" required #password="ngModel" placeholder="Password"/>
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
          <div *ngIf="password.errors?.['required']" style="color: red; font-size: 0.9rem;">* required.</div>
        </div>
      </div>

      <div class="form-group">
        <!-- <label for="confirmPassword">
          <mat-icon>lock</mat-icon> Confirm Password:
        </label> -->
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="registerData.confirmPassword" required #confirmPassword="ngModel" placeholder="Confirm Password"/>
        <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
          <div *ngIf="confirmPassword.errors?.['required']" style="color: red; font-size: 0.9rem;">* required.</div>
        </div>
      </div>
      <div class="centering">

      <button type="submit" class="signin-btn" [disabled]="!registerForm.form.valid">Register</button>
      </div>
      <div class="toggle-container">
        <a (click)="toggleForm('login')" href="javascript:void(0)" class="toggle-link">Log In?</a>
      </div>
    </form>
  </div>
</div>







<!--  -->

</div>


<div class="img-container">
  <img src="assets/logo.jpg" alt="Logo">

</div>


</div>
